<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>clubproject</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	
	<error-page>
	    <error-code>404</error-code>
	    <location>/faces/error404.xhtml</location>
	</error-page>

	<error-page>
	    <error-code>500</error-code>
	    <location>/faces/error500.xhtml</location>
	</error-page>

	<error-page>
	    <error-code>403</error-code>
	    <location>/faces/error403.xhtml</location>
	</error-page>


	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<init-param>
			<param-name>jersey.config.server.disableMoxyJson</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name> club.soap.AttendEventSoap</servlet-name>
		<servlet-class>club.soap.AttendEventSoap</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>club.soap.AttendEventSoap</servlet-name>
		<url-pattern>/soap/attend-event</url-pattern>
	</servlet-mapping>

</web-app>
